@model AlbumDetailsViewModel
@{
    ViewData["Title"] = "Album Details";
    var album = Model;
}
<h1>Album Details</h1>


<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h4>@album.Title</h4>
                <p><b>Artist: </b>@album.Artist</p>
                <p><b>Genre: </b>@album.Genre</p>
                <p><b>Release Date: </b>@album.ReleaseDate</p>
                <p><b>Description: </b>@album.Description</p>
            </div>
            <div class="m-3">
                <img src="@Model.ArtworkUrl100" alt="Album artwork" width="200px">
            </div>
        </div>
        <div class="text-end">
            <p><b>Last updated: </b>@album.LastUpdated</p>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex align-items-center">
            @if (Model.SnippetUrl != "") {
                <span><b>Song Snippet:</b></span>
                <label class="mx-2">@Model.SnippetName</label>
                <audio src="@Model.SnippetUrl" controls></audio>
            }
            @if (album.UploadedBy == album.CurrentUser) {
                <div class="text-end ms-auto">
                    <a class="btn btn-primary" href="/albums/@album.AlbumId/snippet">Add a Song Snippet</a>
                    <a class="btn btn-secondary" href="/albums/@album.AlbumId/edit">Edit</a>
                    <a class="btn btn-danger" href="/albums/@album.AlbumId/delete">Delete</a>
                </div>
            } else {
                <div class="text-end ms-auto">
                    <a class="btn btn-primary" href="/albums/user/@Model.UploaderId">View This User's Entire Collection</a>
                </div>
            }
        </div>
    </div>
</div>

<div class="card">
    <form asp-controller="Vybe" asp-action="PostComment" asp-route-uid="@Context.Session.GetInt32("userId")" method="post">
        <input type="hidden" asp-for="CVM.AlbumId">

        <div class="m-2">
            <textarea asp-for="CVM.CommentContent" class="form-control" placeholder="Post a comment..."></textarea>
            <span class="form-text text-danger" asp-validation-for="CVM.CommentContent"></span>
        </div>
        <div class="text-end m-3"><button type="submit" class="btn btn-primary">Post Comment</button></div>
    </form>
    <table class="table table-striped">
        <tbody>
            @foreach (var comment in Model.Comments) {
                <tr class="align-middle">
                    <td><b>@comment.User!.Username:</b> @comment.Content</td>
                    <td class="text-end"><b>Posted at:</b> @comment.CreatedAt</td>
                </tr>
            }
        </tbody>
    </table>
</div>
