@model VybeIndexViewModel

@{
    ViewData["Title"] = "Filter a Collection";
}

<div class="d-flex align-items-center gap-4">
    <h1>@Model.Items[0].Username's Collection</h1>
</div>

@if (Model.Items.Count == 0){
    <p>No albums uploaded by this user.</p>
} else {
    <div class="text-end">
        <a class="btn btn-primary" href="/albums">Back to All Albums</a>
    </div>
    <div style="display: flex; width: 65rem; flex-wrap: wrap; gap: 1rem">
        @foreach (var album in Model.Items) {
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h4>@album.Title</h4>
                            <p>@album.Artist</p>
                        </div>
                        <div class="col-4">
                            <img src="@album.ArtworkUrl60" alt="Album artwork">
                        </div>
                    </div>
                    
                    <br />
                    <p class="text-end text-muted">Added by: @album.Username</p>
                    <p class="text-end text-muted">Last Updated: @album.LastUpdated</p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="btn btn-primary" href="/albums/@album.AlbumId">View</a>
                </div>
            </div>
        }
    </div>
}