@model VybeIndexViewModel

@{
    ViewData["Title"] = "All Albums";
}

<div class="d-flex align-items-center gap-4">
    <h1>All Albums</h1>
    <a class="btn btn-primary" href="/albums/new">Add a New Album</a>
</div>

@if (Model.Items.Count == 0){
    <p>No albums present in the database.</p>
} else {
    <div class="text-end mb-3">
        <form asp-controller="Vybe" asp-action="FilterCollection" asp-route-id="@Context.Session.GetInt32("userId")" method="get">
            <button type="submit" class="btn btn-warning">View Your Collection</button>
        </form>
    </div>
    <div style="display: flex; flex-wrap: wrap; gap: 1rem">
        @foreach (var album in Model.Items) {
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h4>@album.Title</h4>
                            <p>@album.Artist</p>
                        </div>
                        <div class="col-4">
                            <img src="@album.ArtworkUrl60" alt="Album artwork">
                        </div>
                    </div>
                    
                    <br />
                    <p class="text-end text-muted">Added by: @album.Username</p>
                    <p class="text-end text-muted">Last Updated: @album.LastUpdated</p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <span>@album.CommentsCount comment(s)</span>
                    <a class="btn btn-primary" href="/albums/@album.AlbumId">View</a>
                </div>
            </div>
        }
    </div>
}